// Slider Section
.homepage-slider-section {
    background: url('../images/slider.jpg');
    background-size: cover;
    background-position: center;

    .slide {
        height: 400px;

        @media (min-width: 576px) {
            height: 600px;
        }

        .slider-heading-1 {
            font-weight: 800;
            font-size: 2.1rem;
            padding-left: 15px;
            line-height: 1;
            text-transform: uppercase;
            color: $white-color;
            
            span {
                color: $primary-color;
            }

            @media (min-width: 576px) {
                font-size: 3.1em;
            }

            @media (min-width: 768px) {
                font-size: 4.1em;
            }
        }

        .slider-heading-2 {
            font-weight: 800;
            font-size: 1em;
            text-transform: uppercase;
            line-height: 1;
            color: $white-color;
            margin-bottom: 20px;
            padding-left: 15px;

            span {
                color: $primary-color;
            }

            @media (min-width: 576px) {
                padding-left: 0px;
                font-size: 1.6em;
            }
        }

        .button {
            display: inline-block;
            font-weight: 600;
            color: $white-color;
            text-transform: uppercase;
            font-size: 0.8em;
            padding: 15px 20px;
            border: 1px solid $white-color;
            transition: color 0.11s ease-in-out, background-color 0.13s ease-in;
            margin-left: 15px;

            &:hover, &:focus {
                text-decoration: none;
                background-color: $white-color;
                color: $black-color;
                outline: none;
            }

            @media (min-width: 576px) {
                margin-left: 0px;
            }
        }
    }
}

// Slider Bottom Section
.homepage-slider-bottom-section {
    background-color: $primary-color;

    .icon-box {
        margin: 20px 0;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: none;

                img , p {
                    opacity: 0.8;
                }
            }

            img {
                display: flex;
                margin: 0 auto;
                margin-bottom: 15px;
                max-width: 100%;
                transition: opacity 0.2s ease-in;
    
                &.slash {
                    margin-bottom: 0;
                }
            }
    
            p {
                font-weight: 600;
                color: $black-color;
                margin-bottom: 0;
                text-transform: uppercase;
                font-size: 0.8em;
                transition: opacity 0.2s ease-in;
            }
        }
    }
}

// Product Section
.homepage-product-section {
    padding-top: 50px;

    .section-heading {
        margin-bottom: 0;

        @media (min-width: 768px) {
            margin-bottom: 60px;
        }
    }

    .product-box {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 50px;
        padding-top: 50px;

        &:nth-child(odd) {
            border-right: 0px solid #d9d9d9;

            @media (min-width: 768px) {
                border-width: 1px;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &:nth-last-child(2) {
            @media (min-width: 768px) {
                border-bottom: none;
            }
        }

        .img-section {
            img {
                max-width: 95%;
            }
        }

        .content {
            padding-right: 0;

            @media (min-width: 768px) {
                padding-left: 20px;
                padding-right: 5px;
            }

            @media (min-width: 992px) {
                padding-left: 36px;
                padding-right: 15px;
            }

            .product-title {
                font-weight: 400;
                font-size: 1.75rem;
                color: $secondary-color;
                line-height: 1;
                margin-bottom: 8px;
            }

            .product-size {
                font-weight: 400;
                color: $secondary-color;    
            }

            .product-details {
                font-weight: 400;
                color: $black-color;
                font-size: 0.9em;
                margin-bottom: 15px;
            }
        }
    }
}

// About Us Section
.homepage-about-section {
    padding: 50px 0;
    background: $gray-color;

    .about-us-left-side {
        text-align: center;
        margin-bottom: 25px;
        
        @media (min-width: 768px) {
            text-align: left;
            margin-bottom: 0;
        }

        .text {
            font-weight: 400;
            font-size: 1.2em;
            color: $black-color;
            margin-bottom: 10px;

            @media (min-width: 768px) {
                margin-bottom: 30px;
            }

            @media (min-width: 992px) {
                font-size: 1.6em;
            }
        }

        .blue-button {
            @media (min-width: 992px) {
                font-size: 1em;
                padding: 10px 40px;
            }
        }
    }

    .about-us-right-side {
        text-align: center;

        @media (min-width: 768px) {
            text-align: right;
        }

        .about-heading {
            font-weight: 400;
            color: $black-color;
            text-transform: uppercase;
            font-size: 1.5em;

            @media (min-width: 992px) {
                font-size: 2.3em;
            }
        }

        .about-description {
            font-weight: 300;
            color: $black-color;
            font-size: 0.9em;
            margin-bottom: 25px;
        }

        .blue-button {
            @media (min-width: 992px) {
                font-size: 1em;
            }
        }

        .phone-section {
            color: #cdcdcd;
            margin-top: 30px;

            .call-us {
                font-weight: 600;
                font-size: 2em;
                margin-bottom: 0;
                line-height: 1;

                @media (min-width: 992px) {
                    font-size: 2.5em;
                }
            }

            .number {
                font-weight: 800;
                font-size: 2.1em;
                margin-bottom: 0;
                line-height: 1;

                @media (min-width: 992px) {
                    font-size: 3em;
                }
            }
        }
    }
}

// Recorganition Section
.homepage-recognition-section {
    padding: 50px 0;

    .section-main {
        margin-top: 20px;

        .image-side {
            padding-right: 0;

            @media (min-width: 768px) {
                padding-right: 15px;
            }

            img {
                max-width: 100%;
            }
        }

        .content-side {
            padding-left: 0;

            @media (min-width: 768px) {
                padding-left: 15px;
            }

            .heading {
                font-weight: 800;
                font-size: 2.3em;
                color: #cdcdcd;
                text-transform: uppercase;
            }

            .h4 {
                font-weight: 600;
                font-size: 1.4em;
                margin-top: 35px;
            }

            ul {
                padding-left: 18px;
                list-style-type: none;
                color: #7d7d7d;
                font-size: 0.9em;
                font-weight: 600;

                @media (min-width: 992px) {
                    list-style-type: circle;
                }
            }
        }
    }
}
