$primary-color: #ffce16;
$secondary-color: #0c6ea9;
$black-color: #0d0d0d;
$white-color: #ffffff;
$gray-color: #f3f3f3;

// Fonts
$primary-font: 'Montserrat', sans-serif;

// Grid
$grid-columns: 14;
$grid-gutter-width: 30px;
